# shellcheck shell=bash

# Este arquivo está xerado por Noctalia
# Non modificalo manualmente xa que se sobreescribe ao cambiar de tema

export FOREGROUND="{{ colors.on_background.default.hex }}"
export BACKGROUND="{{ colors.background.default.hex }}"
export MUTED_FOREGROUND="{{ colors.on_surface_variant.default.hex }}"
export MUTED_BACKGROUND="{{ colors.surface_container_low.default.hex }}"
export BORDER_FOREGROUND="{{ colors.outline_variant.default.hex }}"
export BORDER_BACKGROUND="{{ colors.surface_container_lowest.default.hex }}"
export ACCENT_FOREGROUND="{{ colors.primary.default.hex }}"
export SUCCESS_FOREGROUND="{{ colors.tertiary.default.hex }}"
export ERROR_FOREGROUND="{{ colors.error.default.hex }}"
export WARNING_FOREGROUND="{{ colors.secondary.default.hex }}"

export PROMPT_FOREGROUND="{{ colors.primary.default.hex }}"
export PROMPT_BACKGROUND="{{ colors.surface_container.default.hex }}"
export CURSOR_FOREGROUND="{{ colors.primary.default.hex }}"
export CURSOR_BACKGROUND="{{ colors.surface_container_highest.default.hex }}"
export HEADER_FOREGROUND="{{ colors.on_background.default.hex }}"
export HEADER_BACKGROUND="{{ colors.background.default.hex }}"
export ITEM_FOREGROUND="{{ colors.on_surface.default.hex }}"
export ITEM_BACKGROUND="{{ colors.background.default.hex }}"
export SELECTED_FOREGROUND="{{ colors.on_primary.default.hex }}"
export SELECTED_BACKGROUND="{{ colors.primary.default.hex }}"
export UNSELECTED_FOREGROUND="{{ colors.on_surface.default.hex }}"
export UNSELECTED_BACKGROUND="{{ colors.surface_container_high.default.hex }}"
